* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pt-7 {
    padding-top: 7em;
}

a {
    text-decoration: none;
    color: #000;

}



body {
    height: 2000px;
}

/*--------------------  Section Navbar */

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 0.5rem;
    transition: 0.3s;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-name {
    font-size: 2.8em;
    transition: 0.3s;
}

.hamburger {
    display: none;
    padding-top: 6px;
    padding-bottom: 5px;

}

.nav-link {
    padding: 0em 0.3em;
    color: black;
}

.nav-link:hover {

    color: black;
}

/*--------------------  Media Query nav bar */

@media screen and (max-width: 785px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: .8rem;
        flex-direction: column;
        background-color: rgb(179, 174, 174);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu li {
        border-bottom: solid 1px;
        border-color: grey;
        width: 80%;
        color: #000;
    }

    .nav-link {
        padding-bottom: 20px;

    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0.5rem 0;
    }

    .navbar {
        background-color: #FFF;
        opacity: 1;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    /* -------------------- Animation burger -> croix */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    .personnalInformations {
        flex-direction: column;
    }
}

/* Fin media query */


/* -------------------- Fin de section Navbar */


/* -------------------- Section Background image */
#containerBackground {}

#imageBackground {
    background: url(../img/office-gb104c0836_1920.jpg);
    min-width: 100vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%;


}

.title {
    font-size: 2em;
}
/* -------------------- Fin Section Background image */
.personnalInformations {
    height: 20vh;
}

.test {
    height: 200px;
}

.infos {
    align-items: center;
    display: flex;
    font-size: 1em;
}

.infos img {
    height: 1.5em;
    margin: 0em 0.5em;
}



/* Section profil */

.profil1 {
    height: 50vh;
}

#skills {}

/*  Section background image flottante */

#polygonTop {
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    z-index: -1;
}

#polygonBottom {
    clip-path: polygon(50% 75%, 100% 25%, 100% 100%, 0 100%, 0 25%);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.backgroundImgFloating {
    background: url(../img/brownBackground.jpg);
    width: 100vw;
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}


/*  fin Section background image flottante */

.picto {
    width: 40px;
}

.quality {
    font-size: 2em;
    font-weight: 600;

}








.tool{
    height: 150px;

}


.toolList li {
    padding: 3em 1em;
}








#polygonTop2 {
    clip-path: polygon(100% 50%, 0 0, 100% 0);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    z-index: -1;
}

#polygonBottom2 {
    clip-path: polygon(50% 75%, 0% 25%, 100% 100%, 0 100%, 0 25%);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.backgroundImgFloating2 {
    background: url(../img/brownBackground.jpg);
    width: 100vw;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}


/* 
#polygonTop3 {
    clip-path: polygon(50% 0, 0 50%, 100% 50%);
    height: 20vh;
    width: 100vw;
    background-color: gray;
    position: absolute;
    top: -10vh;
    z-index: -1;
}

#polygonBottom3 {
    clip-path: polygon(50% 50%, 0 0%, 100% 0%);
    height: 20vh;
    width: 100vw;
    background-color: grey;
    position: absolute;
    bottom: -19.9vh;
    z-index: -1;

} */

.backgroundImgFloating3 {
    background-color: grey;
    clip-path: polygon(50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%, 0 15%);
    width: 100vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: 15vh;
}






/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;

}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}