@font-face {
    font-family: "Police1";
    src: url(../font/Rajdhani-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Police1";
}

body {
    background-color: white;
    overflow-x: hidden;
}

.pt-7 {
    padding-top: 7em;
}

a {
    text-decoration: none;
    color: #000;

}



body {
    height: 2000px;
    color: black;
}

.scrollingMouse {
    display: block;
    width: 40px;
    height: 70px;
    border: solid 2px #fff;
    border-radius: 50px;
    position: relative;
    transition: 0.5s;
    margin-top: 2em;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .scrollingMouse {
        display: none;
    }
}

.scrollingMouse:after {
    position: absolute;
    height: 20px;
    width: 10px;
    background-color: white;
    content: '';
    left: calc(50% - 5px);
    border-radius: 10px;
    animation: mouse 1.5s infinite;
    box-shadow: 0px -5px 3px 1px #ffffff66;

}

.chevrons {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30px;

    margin-left: 3px;
    margin-top: 65px;
}

.chevronDown {
    position: relative;
    height: 15px;
    width: 15px;
    border: solid white;
    transform: rotate(45deg);
    border-width: 0 3px 3px 0;

}

.chevronDown:nth-child(1) {
    animation: pulse 0.5s ease infinite alternate;
}

.chevronDown:nth-child(2) {
    animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse {
    0% {
        opacity: 0;
        top: 10px;
    }

    40% {
        opacity: 1;

    }

    100% {
        opacity: 0;
        top: 40px;
    }
}



/*--------------------  Section Navbar */

.navbar {
    border-bottom: solid 1px rgb(68, 66, 66);
    transition: 500ms;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar .navItem {
    position: relative;
    /* pointer-events: none;     */
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar .navItem::after {
    position: absolute;
    left: 0;
    bottom: 5px;
    content: '';
    width: 0%;
    height: 3px;
    background-color: black;
    transition: 0.3s;
}

.navbar .navItem:hover::after {
    width: 100%;
}

.navbar ul li {

    padding: 1.5rem 15px;
    transition: 0.5s;

}

.nav-item {
    cursor: pointer;
}





/* -------------------- Fin de section Navbar */


/* -------------------- Section Background image */


#imageBackground {
    background: url(../img/office-gb104c0836_1920.jpg);
    min-width: 100vw;
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    background-attachment: fixed;
    position: relative;
    z-index: -2;

}

#imageBackground:after {
    width: 100%;
    height: 100%;
    background-color: #00000098;
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
}

.title {
    font-size: 3em;
    padding-top: 3em;
}

.titleJob {
    font-size: 6em;
}

@media (max-width: 600px) {

    .title {
        font-size: 1.5em;
        padding-top: 3em;
    }

    .titleJob {
        font-size: 3em;
    }
}

/* -------------------- Fin Section Background image */
.personnalInformations {
    height: 15vh;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}

@media (max-width: 892px) {
    .personnalInformations {
        flex-direction: column;
    }
}

.test {
    height: 200px;
}

.infos {
    align-items: center;
    display: flex;
    font-size: 1em;
}

.t-white {
    color: white;
}

.t-black {
    color: black;
}

.infos img {
    height: 1.5em;
    margin: 0em 0.5em;
}

.mailPicto {
    filter: invert(11%) sepia(87%) saturate(5608%) hue-rotate(358deg) brightness(109%) contrast(96%);
}

.phonePicto {
    filter: invert(32%) sepia(85%) saturate(833%) hue-rotate(76deg) brightness(101%) contrast(98%);
}

.locationPicto {
    filter: invert(11%) sepia(87%) saturate(5608%) hue-rotate(358deg) brightness(109%) contrast(96%);
}

.pictoTextHome {
    font-size: 24px;
}




/* Section profil */

.leftColProfil {

    border-right: solid 1px rgb(223, 221, 221);
}

.photoProfil {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

.photoProfil img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.profilBox {

    width: 70%;
    margin: 5em auto;
    border-radius: 5px;
    background-color: rgb(61, 58, 58);
    box-shadow: 5px 10px 30px black;
}

.profilContent {
    font-size: 20px;
}

@media (max-width: 700px) {
    .profilContent {
        font-size: 15px;
    }
}

/*  Section background image flottante */

#polygonTop {
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: -1px;
    z-index: -1;
}

#polygonBottom {
    clip-path: polygon(50% 75%, 100% 25%, 100% 100%, 0 100%, 0 25%);
    height: 20vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    bottom: -1px;
    z-index: -1;
}

.backgroundImgFloating {
    background: url(../img/Dark-grey-background.jpg);
    width: 100vw;
    min-height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}


/*  fin Section background image flottante */

.picto {
    width: 50px;
    height: 50px;
}

.quality {
    font-size: 2em;
    font-weight: 600;

}






.tool {
    height: 150px;

}


.toolList li {
    padding: 3em 1em;
}








#polygonTop2 {
    clip-path: polygon(100% 50%, 0 0, 100% 0);
    height: 20vh;
    width: 100vw;
    background-color: #424141;
    position: absolute;
    z-index: -1;
}

#polygonBottom2 {
    clip-path: polygon(50% 75%, 0% 25%, 100% 100%, 0 100%, 0 25%);
    height: 20vh;
    width: 100vw;
    background-color: #424141;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.backgroundImgFloating2 {
    background: url(../img/Dark-grey-background.jpg);
    width: 100vw;
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}




.backgroundImgFloating3 {
    background-color: rgb(61, 58, 58);
    clip-path: polygon(50% 0, 100% 0%, 100% 85%, 50% 100%, 0 85%, 0 0%);
    width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    margin-top: 15vh;
}

.citation {
    font-size: 36px;
    font-style: italic;
    color: white;
}

.citationTolkien {
    font-style: italic;
}

.lastJob {
    min-height: 60vh;
}

/* ---------------------Mes diplomes---------------- */

.separateBar3 {
    width: 3px;
    height: 80%;
    border-radius: 2px;
    background-color: rgba(48, 47, 47, 0.178);
    position: absolute;
    right: 1em;
    bottom: 10%;

}

.schoolName {
    font-size: 18px;
    font-style: italic;
}

/* Ancien job */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(61, 58, 58);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: rgb(133, 131, 131);
}

/* Style the collapsible content. Note: hidden by default */
.collapsible~.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    background-color: #424141;
    color: #fff;

}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.separateBar {
    width: 80%;
    margin: 5em auto;
}

.separateBarSkills {
    width: 80%;
    margin: 1em auto;
}

/*--------------------------- SKILLS ----------------------- */

.skillsBox {

    margin: auto;
    border-radius: 5px;
    background-color: rgb(61, 58, 58);
    box-shadow: 5px 10px 30px black;
    width: 70%;
}

.skillsImg {
    width: 60%;

}

.skillList li {
    position: relative;
}

.skillList li .tooltipSkill {
    position: absolute;
    z-index: 10;
    padding: 1px 3px;
    min-width: 60px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    background-color: grey;
    top: 10%;
    left: 15%;

    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.skillList li:hover .tooltipSkill {
    opacity: 1;
    top: -35px;
}

.skillList li .tooltipSkill::before {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    background-color: grey;
}



/*  Contactez moi */





/* ----------------Portfolio */

.languageBar {
    width: 95%;
    height: 7px;
    margin: auto;
    border-radius: 5px;
    margin: 5px auto;
    background-color: blue;
    display: flex;
    overflow: hidden;
}

.languageRepartition {
    list-style: none;
    padding: 0;
    display: none;
    transition: 0.3s ease-in-out;
    margin-bottom: 0;
}

.languagePercent {
    color: rgb(205, 200, 200);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.htmlColor {
    background-color: #e34c26;
}
.jsColor{
    background-color: #f1e05a;
}

.cssColor {
    background-color: #563d7c;
}

.phpColor {
    background-color: #4F5D95;
}

.html1 {
    width: 37.4%;
}

.css1 {
    width: 62.6%;
}

.html2 {
    width: 65.7%;
}

.css2 {
    width: 34.3%;
}

.php3 {
    width: 84.8%;
}

.css3 {
    width: 15.2%;
}

.js4{
    width: 42.6%;
}

.css4{
    width: 35.7%;
}

.html4{
    width: 21.7%;
}
.container .card {
    background-color: rgb(61, 58, 58);
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover {
    height: 400px;
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 250px;
    top: -50px;
    left: 10px;
    z-index: 1;
    color: #fff;
    background-color: rgb(86, 83, 83);
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.container .card:hover .languageRepartition {
    display: flex;
    flex-wrap: wrap;
    transition-delay: 0.3s;
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}


.btnPortfolio{
    padding: 5px 10px;
    background-color: #238636;
    border: solid 0px;
    border-radius: 5px;
}

/* -------------------Rubrique contact ---------------- */




/* ---------------Lien Externe-------------- */
*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html,

.externalLinks {
    position: relative;
    width: 100vw;
    margin-bottom: 70px;
}

.wrapper {
    display: inline-flex;
    position: absolute;

    left: calc(50% - 105px);

}

.linkedinLogo {
    width: 40px;
}

.gitHubLogo {
    width: 60px;
}

.discordLogo {
    width: 40px;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}



.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background-color: #0391d8;
    color: #ffffff;
}



.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}


.wrapper .discord:hover,
.wrapper .discord:hover .tooltip,
.wrapper .discord:hover .tooltip::before {
    background-color: #5B6DAF;
    color: #ffffff;
}

footer {
    background-color: rgb(61, 58, 58);
    color: white;
    text-align: center;
}



